extends layout

block content

    h1 Compteur de clicks
    p Accueil : #{countAccueil}
    p Page 2 : #{countPage2}
    p Page 3 : #{countPage3}
    p Page 4 : #{countPage4}
    p Page 5 : #{countPage5}